body{
    font-family: 'Ubuntu', sans-serif;
    color: aqua;
    margin: 0px;
    padding: 0px;
    background-color: black;
    
}
.left
{   
    position: absolute;
    left: 60px;
    top: 22px;
    display: inline-block;
    /* border: 2px solid red; */
}
.left img
{
    width: 100px;
}
.left div
{
    line-height: 19px;
    font-size: 22px;
    text-align: center;
}
.mid
{
    font-size: 10px;
    display: block;
    width: 50%;
    margin: 22px auto;
    /* border: 2px solid green; */
}
.right
{
    position: absolute;
    right: 34px;
    top: 22px;
    display: inline-block;
    /* border: 2px solid yellow; */
}
.navbar
{
    display: inline-block
}
.navbar li
{
    display: inline-block;
    font-size: 25px;
}
.navbar li a
{
    color: white;
    text-decoration: none;
    padding: 34px 24px;
}
.navbar li a:hover, .navbar li a:active
{
    text-decoration: underline;
    color: grey;
}
.btn
{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px 9px;
    color: black;
    background-color: yellow;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover
{
    background-color: rgb(189, 189, 209);
}
.container
{
    border: 2px solid white;
    margin: 106px 80px;
    padding: 75px;
    width: 33%;
    border-radius: 28px;
}
.form-group input
{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid white;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}
.container h1{
    text-align: center;
}
.container button
{
    display: block;
    width: 23%;
    margin: auto;
}